@{
    ViewBag.Title = "A propos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<p>Application simpliste réalisée dans le cadre de ma formation de Conceptrice Développeuse d'Application à l'ENI Ecole Informatique.</p>
<p>Cette application permet de visualiser, créer, modifier et supprimer des pizzas.</p>
