@model Gestion_Pizzas.Pizza

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer une pizza</h2>

<h3>Etes vous sûr de vouloir supprimer cette pizza ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste des pizzas", "Index")
        </div>
    }
</div>
